<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>MapleSeaAnnouncements | Admin Page</title>
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='hello.css')}}" /> -->
</head>
<body>
<h2>
  Annyeong!
</h2>

<p>
  Currently sending posts to: <b>{{channel_name}}</b>
</p>

<p>
  <form method="post">
    <label for="code">Access Code</label><br>
    <input type="text" id="code" name="code" /><br>
    <input type="submit"/>
  </form>
</p>
{% if is_authorised %}
  <button>cc pls</button>
{% endif %}
</body>
</html>